## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,High Level,CA,58.5169,-117.1360,26.60,43,20,6.91,few clouds
1,1,Butaritari,KI,3.0707,172.7902,81.77,80,55,15.79,light rain
2,2,Busselton,AU,-33.6500,115.3333,66.99,58,0,3.00,clear sky
3,3,Hithadhoo,MV,-0.6000,73.0833,82.36,67,12,10.74,few clouds
4,4,Hilo,US,19.7297,-155.0900,71.60,73,90,8.05,light rain

In [28]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 5
What is the maximum temperature you would like for your trip? 90

In [29]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,High Level,CA,58.5169,-117.1360,26.60,43,20,6.91,few clouds
1,1,Butaritari,KI,3.0707,172.7902,81.77,80,55,15.79,light rain
2,2,Busselton,AU,-33.6500,115.3333,66.99,58,0,3.00,clear sky
3,3,Hithadhoo,MV,-0.6000,73.0833,82.36,67,12,10.74,few clouds
4,4,Hilo,US,19.7297,-155.0900,71.60,73,90,8.05,light rain
5,5,Souillac,MU,-20.5167,57.5167,78.80,73,40,6.91,scattered clouds
6,6,Haimen,CN,23.1935,116.6142,64.40,77,90,4.47,light rain
7,7,Labuhan,ID,-6.8844,112.2051,84.56,73,88,7.18,overcast clouds
8,8,Saint-Georges,GD,12.0564,-61.7485,78.80,83,20,10.36,few clouds
9,9,Mataura,NZ,-46.1927,168.8643,67.24,39,0,1.61,clear sky

In [30]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                671
City                   671
Country                667
Lat                    671
Lng                    671
Max Temp               671
Humidity               671
Cloudiness             671
Wind Speed             671
Current Description    671
dtype: int64

In [31]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df

In [32]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,High Level,CA,26.60,few clouds,58.5169,-117.1360,
1,Butaritari,KI,81.77,light rain,3.0707,172.7902,
2,Busselton,AU,66.99,clear sky,-33.6500,115.3333,
3,Hithadhoo,MV,82.36,few clouds,-0.6000,73.0833,
4,Hilo,US,71.60,light rain,19.7297,-155.0900,
5,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,
6,Haimen,CN,64.40,light rain,23.1935,116.6142,
7,Labuhan,ID,84.56,overcast clouds,-6.8844,112.2051,
8,Saint-Georges,GD,78.80,few clouds,12.0564,-61.7485,
9,Mataura,NZ,67.24,clear sky,-46.1927,168.8643,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df[hotel_df["Hotel Name"] == ""].index)
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,High Level,CA,26.60,few clouds,58.5169,-117.1360,Days Inn by Wyndham High Level
1,Butaritari,KI,81.77,light rain,3.0707,172.7902,Isles Sunset Lodge
2,Busselton,AU,66.99,clear sky,-33.6500,115.3333,Observatory Guest House
3,Hithadhoo,MV,82.36,few clouds,-0.6000,73.0833,Scoop Guest House
4,Hilo,US,71.60,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
6,Haimen,CN,64.40,light rain,23.1935,116.6142,Jinghao Business Hotel
7,Labuhan,ID,84.56,overcast clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
8,Saint-Georges,GD,78.80,few clouds,12.0564,-61.7485,Radisson Grenada Beach Resort
9,Mataura,NZ,67.24,clear sky,-46.1927,168.8643,Ellie's Villa

In [41]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [46]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))