## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,High Level,CA,26.60,few clouds,58.5169,-117.1360,Days Inn by Wyndham High Level
1,1,Butaritari,KI,81.77,light rain,3.0707,172.7902,Isles Sunset Lodge
2,2,Busselton,AU,66.99,clear sky,-33.6500,115.3333,Observatory Guest House
3,3,Hithadhoo,MV,82.36,few clouds,-0.6000,73.0833,Scoop Guest House
4,4,Hilo,US,71.60,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Laguna")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Laguna")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "San Anselmo")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Half Moon Bay")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "San Ramon")]

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
398,448,San Ramon,US,62.6,clear sky,37.7799,-121.978,San Ramon Marriott

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat","Lng"]].to_numpy()[0])
end = tuple(vacation_start[["Lat","Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat","Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat","Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat","Lng"]].to_numpy()[0])

(37.7799, -121.978)

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
stepbystep = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(stepbystep)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,453,Laguna,US,75.2,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,657,San Anselmo,US,59.0,clear sky,37.9747,-122.5616,Four Points by Sheraton San Rafael Marin County
2,89,Half Moon Bay,US,57.2,haze,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
3,448,San Ramon,US,62.6,clear sky,37.7799,-121.9780,San Ramon Marriott

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))